input {
  width: 300px;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #c8cccf;
  color: #986655;
  outline: 0;
  text-align: left;
  padding-left: 10px;
  display: block;
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px #ccc;
}

input::-webkit-input-placeholder {
  color: #986655;
  font-size: 16px;
}

.btn {
  width: 270px;
  height: 40px;
  border-width: 0px;
  border-radius: 3px;
  background: #1E90FF;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 17px;
}

.btn:hover {
  background:#002eff;
}


.btn:disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.form-flex {
  padding-top: 50px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  span {
    color: darkred;
  }
}

