<h2>访问信息管理</h2>
<hr>
<div class="btn-position">
  <button nz-button nzType="primary" nzShape="round" (click)="gotoAddNewAccess()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>添加访问
  </button>
</div>
<nz-table>
  <thead>
  <tr>
    <th>#</th>
    <th>访问名称</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let access of accesslist">
    <td>{{access.id_}}</td>
    <td>{{access.name_}}</td>
    <td>
      <button nz-button nzType="primary" nzSize="small" (click)="goDetails(access.id_)" nzShape="round" title="修改">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" nzShape="round" title="删除！">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
