.item {
  width: 300px;
  margin-right: 10px;
}

.item-btn {
  width: 120px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.flex-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  span {
    color: darkred;
  }
}

.flex-head {
  display: flex;
  flex-direction: row;

  h2 {
    margin-left: 20px;
  }
}

