<div class="flex-head">
  <button nz-button nzType="link" (click)="goBack()"><i nz-icon nzType="left"></i>返回</button>
  <h2>新增用户</h2>
</div>
<hr>
<form #add_form='ngForm' (ngSubmit)="SaveUser()" class="flex-form">
  <div class="flex-group">
    <label>
      <input class="item" #user_name='ngModel' type="text" required [(ngModel)]="userForm.username" placeholder="输入用户名"
             name="username" nz-input>
    </label>
    <div *ngIf="user_name.invalid && (user_name.dirty||user_name.touched)">
      <div *ngIf="user_name.errors.required">
        <span>用户名不能为空</span>
      </div>
    </div>
  </div>

  <div class="flex-group">
    <label>
      <input class="item" type="password" required [(ngModel)]="userForm.password" #password="ngModel" placeholder="输入密码"
            minlength="6" maxlength="18" name="password" nz-input>
    </label>
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required"><span>密码不能为空</span></div>
      <div *ngIf="password.errors.minlength"><span>密码长度不符合</span></div>
    </div>
  </div>
  <button type="submit" [disabled]="!add_form.form.valid" class="item-btn">添加</button>
</form>
