<div class="flex-head">
  <button nz-button nzType="link" (click)="gobBack()"><i nz-icon nzType="left"></i>返回</button>
  <h2>新增用户</h2>
</div>
<hr>
<form #form_add="ngForm" (submit)="SaveUser()" class="flex-form item">
  <!--<nz-form-item>
    <nz-form-control nzErrorTip="请输入用户名">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="userName" nz-input placeholder="Username" [(ngModel)]="username"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入密码">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" [(ngModel)]="password"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button type="submit" nz-button nzType="primary" [disabled]="!validateForm.valid">添加</button>
    </nz-form-control>
  </nz-form-item>-->
  <input type="text" nz-input placeholder="输入用户名" [(ngModel)]="userForm.username"/>
  <br>
  <input type="password" nz-input placeholder="输入密码" [(ngModel)]="userForm.password"/>
</form>
